h1 {
    font-style: oblique;
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 100px;
    text-shadow: 0 -0.05em 0.2em rgb(90, 0, 102), 0.01em -0.02em 0.15em rgb(218, 26, 218), 0.01em -0.05em 0.15em rgb(129, 33, 255), 0.02em -0.15em 0.2em rgb(66, 4, 102), 0.04em -0.20em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
    color: #ffe;
}

header nav ul li {
    list-style-type: circle;
    list-style-position: outside;
}

nav {
    color: navy;
}

h2 {
    color: seagreen;
    font-family: fantasy;
    font-size: 300%;
    text-decoration: underline;
    text-decoration-style: double;
}

nav ul {
    background-color: thistle;
}

.p {
    background-color: mediumorchid;
    color: turquoise;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    
}

#otroColor {
    background-color: oldlace;
    color: olive;
}

.contacto {
    color: red;

}

th {
    background-color: rgb(129, 33, 255)
}

td {
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: seagreen;
}

footer {
    background-color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}